################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Delegates_1/obj/Debug
/.vs/Delegates_1/v14
